@font-face {
  font-family: "titre";
  src: url(../assets/Tourney-Italic-VariableFont_wdth\,wght.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(0,0,0,0.7) ;
}

.contenaire   {
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 48px 22px rgba(31,31,31,0.8); 
  box-shadow: 0px 0px 48px 22px rgba(31,31,31,0.8);
  margin: 0px   276px;
}

header{
  background-color: rgba(0,0,0,0.6);
  border-bottom: 1px solid white;
  -webkit-box-shadow: 1px 36px 49px 27px #1F1F1F; 
  box-shadow: 1px 36px 49px 27px #1F1F1F;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center ;
  align-items: center ;
  padding-top: 10px; 
  padding-bottom: 30px; 
  height: 100px;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: titre;
}

header h1{
  color : red;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes title {
  0% { color: #0FF7FF }
  33% { color: #001AFF }
  66% { color: #DE0AFF }
  100% { color: #0FF7FF }
  
  
}

.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
  line-height:2;
  margin: 10px;
}

.artiste{
  top: 1px;
  border-bottom: 3px solid white ;
}

.morceau{
  bottom: 1px;
}

a {
  text-decoration: none;
}

footer{
  position: absolute;
  height: 100px;
  width: 99.8%;
  bottom: 0px;
  background-color: rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 36px 49px 27px #1F1F1F; 
  box-shadow: 1px -36px 49px 27px #1F1F1F;
  border-top: 1px solid white ;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

.contenair-resaux{
  padding-top: 10px;
  left: 25%;
  width: 50%;
  position: relative;
  text-align: center;
}

h6{
  color: #0FF7FF;
  margin-bottom: 10px;
}

.insta{
  margin: 0;
  padding: 0;
  height: 30px;
}

.insta img{  
  width: 20px;
}