
@font-face {
       font-family: "titre";
       src: url(assets/Tourney-Italic-VariableFont_wdth\,wght.ttf);
}

*{
       margin: 0;
       padding: 0;
}

body{
       background-color: rgba(0,0,0,0.7) ;
}

.contenaire   {
       background-color: rgba(0,0,0,0.7);
       border-radius: 15px;
       -webkit-box-shadow: 0px 0px 48px 22px rgba(31,31,31,0.8); 
       box-shadow: 0px 0px 48px 22px rgba(31,31,31,0.8);
       margin: 0px   276px;
}

header{
       background-color: rgba(0,0,0,0.6);
       border-bottom: 1px solid white;
       -webkit-box-shadow: 1px 36px 49px 27px #1F1F1F; 
       box-shadow: 1px 36px 49px 27px #1F1F1F;
       border-bottom-left-radius: 25px;
       border-bottom-right-radius: 25px;
       text-align: center ;
       align-items: center ;
       padding-top: 10px; 
       padding-bottom: 30px; 
       height: 100px;
       margin-bottom: 20px;
       font-size: 50px;
       font-family: titre
}

.box {
       display: inline-block;
       width: 150px;
       height: 150px;
       color: white;
       background-color: rgba(0,0,0,0.4);
       padding: 10px;
       border-radius: 10px;
       border-bottom: 1px solid white;
       line-height:2;
       margin: 10px;
}

.artiste{
       font-size: 15px;
       top: 1px;
       border-bottom: 3px solid white ;
}

.morceau{
       margin-top: 10px;
       bottom: 1px;
}

a {
       text-decoration: none;
}

.titre{
       animation-name: title;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre1{
       animation-name: title1;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre2{
       animation-name: title2;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre3{
       animation-name: title3;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre4{
       animation-name: title4;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre5{
       animation-name: title5;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre6{
       animation-name: title6;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre7{
       animation-name: title7;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

.titre8{
       animation-name: title8;
       animation-duration: 2s;
       animation-iteration-count: infinite;
}

h1{
       position: absolute;
       animation-duration: 2s;
}

.a{
       animation-name: chut1;
       left:  30%;
}

.b{
       animation-name: chut2;
       left: 34.3%;
}
.c{
       animation-name: chut3;
       left: 39.3%;
}

.d{
       animation-name: chut4;
       left: 660px;
}

.e{
       animation-name: chut5;
       left: 735px;
}

.f{
       animation-name: chut6;
       left: 800px;
}
.g{
       animation-name: chut7;
       left: 840px;
}
.h{
       animation-name: chut8;
       left: 890px;
}
.i{
       animation-name: chut9;
       left: 955px;
}


@keyframes chut1 {
       from { 
              top: -100px;
       }
       55%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut2 {
       5% { 
              top: -100px;
       }
       60%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut3 {
       10% { 
              top: -100px;
       }
       65%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut4 {
       15% { 
              top: -100px;
       }
       70%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut5 {
       20% { 
              top: -100px;
       }
       75%{
              top: 70px;
       }
       to{
              top: 10px;
       }      
}
@keyframes chut6 {
       25% { 
              top: -100px;
       }
       80%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut7 {
       30% { 
              top: -100px;
       }
       85%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut8 {
       35% { 
              top: -100px;
       }
       90%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}
@keyframes chut9 {
       40% { 
              top: -100px;
       }
       93%{
              top: 70px;
       }
       to{
              top: 10px;
       }       
}

@keyframes title {
       0% 
       { color: #DE0AFF }
       33% 
       { color: #0FF7FF }
       66% 
       { color: #001AFF }
       100% 
       { color: #DE0AFF }       
}
@keyframes title1 {
       0% 
       { color: #001AFF }
       33% 
       { color: #DE0AFF }
       66% 
       { color: #0FF7FF }
       100% 
       { color: #001AFF }       
}

@keyframes title2 {
       0% 
       { color: #0FF7FF }
       33% 
       { color: #001AFF }
       66% 
       { color: #DE0AFF }
       100% 
       { color: #0FF7FF }       
}

@keyframes title3 {
       0% 
       { color: #DE0AFF }
       33% 
       { color: #0FF7FF }
       66% 
       { color: #001AFF }
       100% 
       { color: #DE0AFF }       
}

@keyframes title4 {
       0% 
       { color: #001AFF }
       33% 
       { color: #DE0AFF }
       66% 
       { color: #0FF7FF }
       100% 
       { color: #001AFF }       
}

@keyframes title5 {
       0% 
       { color: #0FF7FF }
       33% 
       { color: #001AFF }
       66% 
       { color: #DE0AFF }
       100% 
       { color: #0FF7FF }       
}

@keyframes title6 {
       0% 
       { color: #DE0AFF }
       33% 
       { color: #0FF7FF }
       66% 
       { color: #001AFF }
       100% 
       { color: #DE0AFF }       
}

@keyframes title7 {
       0% 
       { color: #001AFF }
       33% 
       { color: #DE0AFF }
       66% 
       { color: #0FF7FF }
       100% 
       { color: #001AFF }       
}


@keyframes title8 {
       0% 
       { color: #0FF7FF }
       33% 
       { color: #001AFF }
       66% 
       { color: #DE0AFF }
       100% 
       { color: #0FF7FF }       
}